*{
	text-decoration: none;
}

body {
	font-family: serif;
	width: 100%;
	background: rgb(246,246,246);
}

.menu-nav{
	background: rgb(0,54,100);	
	padding-top: 17px;
}
.menu-nav .casilla{
	background: rgb(4,38,76);
	display: inline;
	float: left;
	padding-top: 15px;
	padding-right: 26px;
	padding-left: 18px;
	padding-bottom: 15px;
	margin-right: 5px;
	border-radius: 4.2px;
}

.menu-nav .opcion-user{
	padding-top: 15px;
	padding-right: 26px;
	padding-left: 18px;
	padding-bottom: 15px;
	margin-right: 5px;
	border-radius: 4.2px;
}

.enlace-blanco a:link,
.enlace-blanco a:visited{
	color: #fff;
}
.enlace-blanco a:hover{
	color: #fff;
	font: bold 15px serif;
}

.encabezado{
	background: rgb(21,105,178);	
	height: 40px;
	padding-top: 15px;
	font-size: 20px;
}

.encabezado .text-relieve{
	display: inline-block;
	color: #002D7B;
	text-shadow: 0px 1px 0px #000000;
}
.derecha{
	float: right;
}


.mapa{
	background-image: url("../images/big-map.png");
	height: 550px;
}

.mapa li{
	display: inline;
}

.mapa .sub-select,
.menu-nav .select{
	background: rgb(12,153,199);
	display: inline;
	float: left;
	padding: 0.7% 0.7%;
	
}

.mapa .sub-select{

	padding-top: 21px;
	padding-bottom: 23px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu-nav .select{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-left: 30px;
	padding-right: 51px;
	padding-bottom: 13px;
	padding-top: 16px;
}

.mapa .sub-select .separa{
	color: white;
	border: 24px;
	border-right: 1px solid;
	border-color: white;
	padding: 0px 24px;
}
.mapa .abajo{
	position: absolute;
	float: left;
	bottom: 10%;
	background: rgb(0,54,100);
	padding: 1% 1%;
	color: rgb(220,228,231);
}
.mapa .abajo,
.mapa .abajo form{
	display: inline;
}

.mapa .abajo form input{
	background: linear-gradient(#C4DA39,#95B90F);
	color: #fff;
	border-radius: 2px;
	padding: 10px 19px;
	border-color: rgb(4,38,76);
	border: 1px;
}

.mapa .abajo form select{
	color: rgb(151,151,151);
	width: 210px;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 1.4px;
}

.mapa .abajo span{
	background: white;
	padding: 0.4% 0.7%;
	border-radius: 60%;
	color: rgb(13,154,199);
	border-bottom: 10px;
}

.mapa .abajo li{
	padding-right: 15px;
	padding-left: 10px;
}

li .lateral-icon1{
	background: rgb(12,153,199);
	padding-top: 7px;
	width: 35px;
	height: 30px;
	text-align: center;
	border: 2px solid rgb(246,246,246);
	border-radius: 5px;
}

li .lateral-icon2{
	background: rgb(194,216,53);
	padding-top: 7px;
	width: 35px;
	height: 30px;
	text-align: center;
	border: 2px solid rgb(246,246,246);
	border-radius: 5px;
}

.section-cont{
	padding: 1% 0%;
	display: inline;
	float: right;
}

.contenido{
	background: #fff;
	padding: 1% 4%;
}

.pie{
	background: rgb(0,54,100);
	display: inline-block;
	padding-top: 20px;
	border-top: 3px solid #002746;
	padding-bottom: 1105px;
}

#login{
	padding-right: 20px;
}

#register{
	background: rgb(193,215,52);
	border-color: rgb(130,160,0);
	border-radius: 2.5px;
}