*{
	text-decoration: none;
}

body {
	font-family: serif;
	width: 100%;
	background: rgb(246,246,246);
}

.menu-nav{
	background: rgb(0,54,100);	
}
.menu-nav .casilla{
	background: rgb(4,38,76);
	display: inline;
	float: left;
	padding-top: 8px;
	padding-right: 6px;
	padding-left: 8px;
	padding-bottom: 8px;
	border-top: 8px;
	border-right: 2px;
}

.enlace-blanco a:link,
.enlace-blanco a:visited{
	color: #fff;
}
.enlace-blanco a:hover{
	color: #fff;
	font: bold 15px serif;
}

.encabezado{
	background: rgb(21,105,178);
	height: 40px;
	top: 10px;
}

.derecha{
	float: right;
}

.mapa{
	background-image: url("../images/big-map.png");
	height: 550px;
}

.mapa li{
	display: inline;
}

.mapa .sub-select,
.menu-nav .select{
	background: rgb(12,153,199);
	display: inline;
	float: left;
	padding: 0.7% 0.7%;
	
}

.mapa .sub-select{

	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 8px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu-nav .select{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-left: 30px;
	padding-right: 49px;
	border-top: 80px;
}

.mapa .sub-select .separa{
	color: white;
	border: 24px;
	border-right: 1px solid;
	border-color: white;
	padding: 0px 24px;
}
.mapa .abajo{
	position: absolute;
	float: left;
	bottom: 10%;
	background: rgb(0,54,100);
	padding: 1% 1%;
	color: rgb(220,228,231);
}
.mapa .abajo,
.mapa .abajo form{
	display: inline;
}

.mapa .abajo form input{
	background: rgb(191,214,48);
	color: #fff;
	border-radius: 2px;
	padding: 0.5% 0.7%;
	border-color: rgb(4,38,76);
}

.mapa .abajo span{
	background: white;
	padding: 0.4% 0.7%;
	border-radius: 60%;
	color: rgb(13,154,199);
	border-bottom: 10px;
}

li .lateral-icon1{
	background: rgb(12,153,199);
	padding-top: 7px;
	width: 35px;
	height: 30px;
	text-align: center;
	border: 2px solid rgb(246,246,246);
	border-radius: 5px;
}

li .lateral-icon2{
	background: rgb(194,216,53);
	padding-top: 7px;
	width: 35px;
	height: 30px;
	text-align: center;
	border: 2px solid rgb(246,246,246);
	border-radius: 5px;
}

.section-cont{
	padding: 1% 0%;
	display: inline;
	float: right;
}

.contenido{
	background: #fff;
	padding: 1% 4%;
}

footer .pie{
	background: rgb(0,54,100);
	width: 100%;
	height: 20%;
	
}