*{
	text-decoration: none;
}

body {
	font-family: serif;
	width: 100%;
	background: rgb(246,246,246);
}

.menu-nav{
	background: rgb(0,54,100);	
	padding-top: 17px;
}
.menu-nav .casilla{
	background: rgb(4,38,76);
	display: inline;
	float: left;
	padding-top: 15px;
	padding-right: 26px;
	padding-left: 18px;
	padding-bottom: 15px;
	margin-right: 5px;
	border-radius: 4.2px;
}

.menu-nav .opcion-user{
	padding-top: 15px;
	padding-right: 26px;
	padding-left: 18px;
	padding-bottom: 15px;
	margin-right: 5px;
	border-radius: 4.2px;
}

.enlace-blanco a:link,
.enlace-blanco a:visited{
	color: #fff;
}
.enlace-blanco a:hover{
	color: #fff;
	font: bold 15px serif;
}

.encabezado{
	background: rgb(21,105,178);	
	height: 40px;
	padding-top: 15px;
	font-size: 20px;
}

.encabezado .text-relieve{
	display: inline-block;
	color: #002D7B;
	text-shadow: 0px 1px 0px #000000;
}
.derecha{
	float: right;
}


.mapa{
	background-image: url("../images/big-map.png");
	height: 550px;
}

.mapa li{
	display: inline;
}

.mapa .sub-select,
.menu-nav .select{
	background: rgb(12,153,199);
	display: inline;
	float: left;
	padding: 0.7% 0.7%;
	
}

.mapa .sub-select{

	padding-top: 21px;
	padding-bottom: 23px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu-nav .select{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-left: 30px;
	padding-right: 51px;
	padding-bottom: 13px;
	padding-top: 16px;
}

.mapa .sub-select .separa{
	color: white;
	border: 24px;
	border-right: 1px solid;
	border-color: white;
	padding: 0px 24px;
}
.mapa .abajo{
	position: absolute;
	float: left;
	bottom: 10%;
	background: rgb(0,54,100);
	padding: 1% 1%;
	color: rgb(220,228,231);
}
.mapa .abajo,
.mapa .abajo form{
	display: inline;
}

.mapa .abajo form input{
	background: linear-gradient(#C4DA39,#95B90F);
	color: #fff;
	border-radius: 2px;
	padding: 10px 19px;
	border-color: rgb(4,38,76);
	border: 1px;
}

.mapa .abajo form select{
	color: rgb(151,151,151);
	width: 210px;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 1.4px;
}

.mapa .abajo span{
	background: white;
	padding: 0.4% 0.7%;
	border-radius: 60%;
	color: rgb(13,154,199);
	border-bottom: 10px;
}

.mapa .abajo li{
	padding-right: 15px;
	padding-left: 10px;
}

li .lateral-icon1{
	background: rgb(12,153,199);
	padding-top: 7px;
	width: 35px;
	height: 30px;
	text-align: center;
	border: 2px solid rgb(246,246,246);
	border-radius: 5px;
}

li .lateral-icon2{
	background: rgb(194,216,53);
	padding-top: 7px;
	width: 35px;
	height: 30px;
	text-align: center;
	border: 2px solid rgb(246,246,246);
	border-radius: 5px;
}

.section-cont{
	padding: 1% 0%;
	display: inline;
	float: right;
}

.contenido{
	background: #fff;
	padding: 1% 4%;
	padding-top: 45px;
	padding-left: 68px;
	color: rgb(127,127,127);
}

.marco-contenido{
	display: inline-block;
}

.contenido .titulo{
	color: rgb(1,53,100);
	padding-bottom: 25px;
	font-size: 25px;

}
/* se establece espacio inferior del parrafo que contiene el cuerpo */
.contenido .cuerpo{
	padding-bottom: 25px;
}

/* Espacio padding de las divisiones de la tabla 1 y 2 */
.contenido .tabla_1 tr td,
.contenido .tabla_2 tr td{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 15px;
}

/* modificacion de color de fondo y border a los renglones impares de la tabla 1 */
.contenido .tabla_1 tr:nth-child(odd){
	background: rgb(251,255,228);
	border-color: rgb(209,220,141);
	border: 1px solid;
}

/* se establace color de la letrade las columnas 1 y 2 de la tabla 1 mediante la modificacion de las divisiones */
.contenido .tabla_1 td:first-child,
.contenido .tabla_1 td:nth-child(2){
	color: rgb(48,66,86);
}
/* se establece color de texto de la ultima columna de la tabla 1*/
.contenido .tabla_1 td:nth-child(3){
	color: rgb(135,154,39);
}

/* se establece el fondo y borde de las filas impares de la tabla 2 */
.contenido .tabla_2 tr:nth-child(odd){
	background: rgb(243,251,253);
	border-color: rgb(216,231,238);
	border: 1px solid;
}

.contenido .tabla_2 td:first-child,
.contenido .tabla_2 td:nth-child(2){
	color: rgb(47,66,81);
}

.contenido .tabla_2 td:nth-child(4){
	color: #2F9FCD;
}

.pie{
	background: rgb(0,54,100);
	display: inline-block;
	padding-top: 20px;
	padding-left: 200px;
	border-top: 3px solid #002746;
	padding-bottom: 1105px;
}

.pie ul li{
	color: #0C99C7;
	padding: 7px 0px;
}

.pie .final{
	color: rgb(39,92,136);
}

#login{
	padding-right: 20px;
}

#register{
	background: rgb(193,215,52);
	border-color: rgb(130,160,0);
	border-radius: 2.5px;
}